.apprex-container {
     margin: 0 auto;
     background-color: #eaeaea;
     max-width: 980px;
     min-width: 320px;
}
   
.apprex-row { 
     display: flex;
     flex-wrap: wrap;
}
   
.apprex-column {
     text-decoration: none;
     display: flex;
     flex-direction: column;
     align-items: flex-start;

     position: relative;
     min-height: 300px;
     text-align: left;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: content;
     
     padding-top: 7px;
     padding-left: 7px;
     padding-right: 7px;
     padding-bottom: 7px;

     margin-left: 3px;
     margin-right: 3px;
     margin-bottom: 15px;

     background-color: #efefef;
     border: 1px solid #dedede;
}

.apprex-column .apprex-content_excerpt { 
     font-size: 0.7em;
     margin-bottom: 7px;
     text-decoration-line: none !important;
}
.apprex-column .apprex-title-and-price {
     width: 100%;
     margin-top: 7px;
     margin-bottom: 7px;
     display: flex;
     justify-content: space-between;
}
.apprex-column .apprex-title-and-price .apprex-title { 
     text-decoration: underline;
     font-size: 0.9em;
     font-weight: bold;
     width: 80%;
}
.apprex-column .apprex-title-and-price .apprex-price { 
     float: right;
}
   
.apprex-col-1 {
     max-width: calc( (100% / 12) - 2 * 3px); /** because of margin left and right **/ 
}
.apprex-col-2 {
     max-width: calc( (100% / 12 * 2) - 2 * 3px);
}
.apprex-col-3 {
     max-width: calc( (100% / 12 * 3) - 2 * 3px);
}
.apprex-col-4 {
     max-width: calc( (100% / 12 * 4) - 2 * 3px);
}
.apprex-col-5 {
     max-width: calc( (100% / 12 * 5) - 2 * 3px);
}
.apprex-col-6 {
     max-width: calc( (100% / 2) - 2 * 3px);
}
.apprex-col-1 {
     max-width: calc( (100% / 1) - 2 * 3px);
}

.apprex-button {
     width: 100%;
     margin-top: auto;
     margin-bottom: 7px;
     font-size: 16px;
     border: 1px solid rgb(68, 141, 238);
     background-color:  rgb(36, 102, 189);
     border-radius: 3px;
     color: #fff;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
     display: block;
     text-decoration: none;
}

.apprex-button:hover {
     background-color:  rgb(102, 151, 214);
}

.apprex-button:active {
     background-color:  rgb(37, 65, 102);
}